# Based on https://github.com/dbohdan/caddy-markdown-site

# Initial setup
#
# first, install caddy_2.4.3_linux_amd64.deb from https://github.com/caddyserver/caddy/releases/tag/v2.4.3
# then run:
#
#   sudo apt install socat
#   git clone https://github.com/shawwn/website ~/website -b dev

# Running the server
#
# To run the server:
#
#   sudo systemctl stop caddy
#   cd ~/website
#   caddy run --environ --watch --config ./media/Caddyfile
#
# finally, switch to a different tmux pane. We're going to port forward localhost:31337 to 0.0.0.0:80:
#
#   sudo socat tcp-listen:80,reuseaddr,fork tcp:localhost:31337

:31337 {
    templates
    file_server

    @media {
        path /favicon.ico
        path /media/*
    }
    @markdown {
        file
        path_regexp \.md$
    }
    @markdown_exists {
        file {path}.md
    }

    handle @media {
        file_server
    }
    handle @markdown {
        redir * https://github.com/shawwn/website/blob/master{path}
    }
    handle @markdown_exists {
        map {path} {caddy_markdown_site.append_to_path} {
            default extension
        }
        rewrite * /templates/index.html
    }

    handle_errors {
        templates
        file_server

        @markdown_index_exists {
            file {path}/index.md
            expression `{http.error.status_code} == 404`
        }

        handle @markdown_index_exists {
            map {path} {caddy_markdown_site.append_to_path} {
                default index
            }
            rewrite @markdown_index_exists /templates/index.html
        }
        handle {
            rewrite * /templates/error.html
        }
    }
}
