<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/static/css/chroma.css" />
<!-- <link rel="stylesheet" href="/static/css/axist.css" /> -->

<link rel="preload" href="/static/font/SourceSerifPro-BASIC-Regular.ttf" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="/static/font/SourceSerifPro-BASIC-Semibold.ttf" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="/images/logo-smooth.svg" as="image" type="image/svg+xml">

<link rel="stylesheet" type="text/css" href="/static/css/default.css?2" />
<link rel="stylesheet" type="text/css" href="/static/css/fonts.css" />

<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
<link rel="manifest" href="/static/favicon/site.webmanifest">
<link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#131313">
<meta name="apple-mobile-web-app-title" content="blog.gpt4.org">
<meta name="application-name" content="blog.gpt4.org">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="theme-color" content="#ffffff">
