<!DOCTYPE html>

{{ $path := .OriginalReq.URL.Path }}
{{ $append := placeholder "caddy_markdown_site.append_to_path" }}
{{ if eq $append "extension" }}
    {{ $path = printf "%s.md" $path }}
{{ else if eq $append "index" }}
    {{ $path = printf "%s/index.md" $path }}
{{ end }}
{{ $markdownFile := (include $path | splitFrontMatter) }}
{{ $title := default $path $markdownFile.Meta.title }}

<html>
<head>
    <title>{{ $title }}</title>
    <meta property="og:title" content="{{ $title }}">
    <meta name="twitter:title" value="{{ $title }}">
    
    {{ include "/templates/head.html" }}
</head>
<body>
    {{ include "/templates/header.html" }}

    <main>
<div id="sidebar">
<a id="logo" href="/index" title="index: categorized list of articles">
<img alt="Site Logo [a Gothic/Fraktur blackletter capital S]" src="/static/images/logo-smooth.svg">
</a>
<div id="sidebar-links">
<a class="home" href="/index" title="index: categorized list of articles">Home</a>
<!-- <a class="site" href="/About" title="Site ideals, source, content, traffic, examples, license">Site</a> -->
<!-- <a class="links" href="/Links" title="Who am I online, what have I done, what am I like? Contact information; sites I use; things I've worked on">Me</a> -->
<!-- <a class="new" href="/Changelog" title="What's new or updated">What's New?</a> -->
<!--
<a class="mail" href="https://tinyletter.com/shawwn" title="Monthly mailing list: newsletter signup form"><i>mail</i></a>
<a class="r_shawwn" href="https://www.reddit.com/r/shawwn/" title="Shawwn subreddit: link-sharing &amp; commentary (the links typically are included in the monthly newsletter)"><em><code>/r/shawwn</code></em></a>
<a class="patreon" href="https://www.patreon.com/shawwn" title="Link to Patreon donation profile to support my writing">support on<br><span>PATREON</span></a>
-->
</div>
</div>
        <article id="markdownBody">{{ markdown $markdownFile.Body }}</article>
    </main>

    <footer>
        <!-- <a href="{{ $path | clean }}">Page source code</a>. -->
    </footer>

    {{ include "/templates/footer.html" }}
</body>
</html>
